.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  text-align: right;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 350px;
  max-height: 100%;
}

.fighter-preview___name,
.fighter-preview___attack,
.fighter-preview___defense,
.fighter-preview___health {
  color: #f8f9f4;
  font-size: 22px;
  font-weight: bold;
}
